<footer>
        <div class="container-fluid" id='footer'>
          <div class="container" id='pk'>
            <div class="row">
              <div class="col-lg-4 col-sm-6 "><h4>Quick Links</h4>
                          <a href="">lorem</a><br>
                          <a href="">lorem</a><br>
                          <a href="">lorem</a><br>
                          <a href="">lorem</a><br>
                      </div>
              <div class="col-lg-8 col-sm-6 ">
                          <h5>About Company</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cum odio nam doloremque error voluptas, laudantium laboriosam quae </p>
                <div class="row">
                  <div class="col-lg-6 col-sm-6 ">
                                  <h6>Subscribe Now</h6>
                                  <form class="form-inline"><input type="text" name="" id=""><button class="btn btn-primary btn-sm"> Subscribe Now</button></form></div>
                              <br><br>
                    <div class="col-lg-6 col-sm-12 ">
                                      Share the link
                                      <p><i class="fa fa-facebook-square fa-2x"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter-square fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-linkedin-square fa-2x"></i></p>
                                      
                                  </div><br><br><br>
                          </div>
                      </div>
                 </div>
             </div>
          </div>
          </footer>