<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><b>goHarness</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
            <li class="nav-item "><a href="#story" class="nav-link">Service</a></li>
            <li class="nav-item "><a href="#team" class="nav-link">Team</a></li>
            <li class="nav-item "><a href="#price" class="nav-link">Price</a></li>
            <li class="nav-item "><a href="#faq" class="nav-link" >FAQ</a></li>
            <li class="nav-item "><a href="#address" class="nav-link">Contact Us</a></li> 
            <li class="nav-item "><a href="#" class="nav-link" data-toggle="modal" data-target="#myModal">Form</a></li>   
      </ul>
    </div>
  </nav>
<!-- Nav Ends -->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h2>Contact Me</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
                <form action="#" >
                        <div class="form-group">
                            <h6>Full Name</h6>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                                <h6>Phone Number</h6>
                                <input type="number" class="form-control" required>
                            </div>
                            <div class="form-group">
                                    <h6>Email</h6>
                                    <input type="email" class="form-control" required>
                                </div>
                            <div class="form-group">
                                        <h6>Address</h6>
                                        <input type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                            <h6>Message</h6>
                                           <textarea  id="" class='form-control' required></textarea>
                                        </div>
                            <input type="submit" class="btn btn-block btn-primary">
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

