            <div class="row">
                    
                    <div class="col-lg-4 col-sm-12 col-md-6 " id='address'><br><br>
                        <h3><b>Our Address</b></h3><br>
                        <p><i class="fa fa-map-marker fa-2x"></i></p>
                        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis minima veniam porro deserunt facilis? Odit, ab nesciunt! </p>
                        <p><i class="fa fa-map-marker fa-2x"></i></p>
                        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis minima veniam porro deserunt facilis? Odit, ab nesciunt! </p>
                    </div>
                    <div class="col-lg-8 col-sm-12 col-md-6 " id='form'><br>
                        <h3><b>Contact Us</b></h3><br>
                            <form action="">
                               <div class="container">
                                    <div class="row">
                                            <div class="col-lg-6 col-sm-6  col-md-6">
                                                <input type="text" class="form-control" placeholder="Full Name">
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6 ">
                                                    <input type="text" class="form-control" placeholder="Phone Number">
                                                </div>
                                        </div><br><br>
                                        <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">
                                                    <input type="text" class="form-control" placeholder="Email">
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">
                                                        <input type="text" class="form-control" placeholder="Address">
                                                    </div>
                                        </div><br>
                                        <textarea name="" id="" class='form-control' placeholder="This is a new message."></textarea><br>
                                        <button class="btn btn-primary btn-md" id='submit'>Submit</button>
                                        
                               </div>
                            </form>
                        </div>

                   
            </div>