<div id="team">
        <h2 class='text-center'>Meet Our Team</h2>
        <h5 class='text-center'>Meet Our Team of Leaders.</h5>
<div class="container">

<div  id='toggle' class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" (click)="prev()" class="btn btn-primary"><i class="fa fa-angle-double-left fa-2x"></i></button>
        <button type="button" (click)="next()" class="btn btn-primary"><i class="fa fa-angle-double-right fa-2x"></i></button>
</div>
</div>
<carousel-component [angle]="60" [perspective]="1000" #topCarousel>
    <div id='1' class="item-carousel">
        <div class="container1">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="image img-fluid">
        <div class="overlay">
              <div class="text">Placeholder
                  <p><i class="fa fa-facebook-square "></i>&nbsp;<i class="fa fa-twitter-square"></i>&nbsp;<i class="fa fa-linkedin-square "></i></p>
              </div>
            </div>
          </div>
    </div>
    <div id='2' class="item-carousel">
        <div class="container1">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="image img-fluid">
        <div class="overlay">
              <div class="text">Placeholder
                  <p><i class="fa fa-facebook-square "></i>&nbsp;<i class="fa fa-twitter-square"></i>&nbsp;<i class="fa fa-linkedin-square "></i></p>
              </div>
            </div>
          </div>
    </div>
    <div class="item-carousel">
        <div class="container1">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="image img-fluid">
        <div class="overlay">
              <div class="text">Placeholder
                  <p><i class="fa fa-facebook-square "></i>&nbsp;<i class="fa fa-twitter-square"></i>&nbsp;<i class="fa fa-linkedin-square "></i></p>
              </div>
            </div>
          </div>
    </div>
    <div class="item-carousel">
        <div class="container1">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="image img-fluid">
        <div class="overlay">
              <div class="text">Placeholder
                  <p><i class="fa fa-facebook-square "></i>&nbsp;<i class="fa fa-twitter-square"></i>&nbsp;<i class="fa fa-linkedin-square "></i></p>
              </div>
            </div>
          </div>
    </div>
    <div class="item-carousel">
        <div class="container1">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="image img-fluid">
        <div class="overlay">
              <div class="text">Placeholder
                  <p><i class="fa fa-facebook-square "></i>&nbsp;<i class="fa fa-twitter-square"></i>&nbsp;<i class="fa fa-linkedin-square "></i></p>
              </div>
            </div>
          </div>
    </div>
    <div class="item-carousel">
        <div class="container1">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="image img-fluid">
        <div class="overlay">
              <div class="text">Placeholder
                  <p><i class="fa fa-facebook-square "></i>&nbsp;<i class="fa fa-twitter-square"></i>&nbsp;<i class="fa fa-linkedin-square "></i></p>
              </div>
            </div>
          </div>
    </div>
</carousel-component>
<br><br><br>
</div>